<!--<mat-nav-list class = "sidenav">
  <a mat-list-item routerLink="/ourservice/culture" > Culture </a>
  <a mat-list-item routerLink="/ourservice/venue" > Venue </a>
  <a mat-list-item routerLink="/ourservice/catering" > Catering </a>
</mat-nav-list>-->

<!--<mat-sidenav-container class="example-container" >
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <mat-nav-list id = "mySidenav">
            <a mat-list-item href="/ourservice/culture" > Culture </a>
            <a mat-list-item href="/ourservice/venue" > Venue </a>
            <a mat-list-item href="/ourservice/catering" > Catering </a>
          </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <p><mat-checkbox [(ngModel)]="opened">keep drawer open</mat-checkbox></p>
      <p><button mat-button (click)="sidenav.toggle()">open drawer</button></p>
      
      
        
    </mat-sidenav-content>
  </mat-sidenav-container>-->
<app-cultures></app-cultures>
  