<a class="w3-btn w3-ripple w3-red w3-right" onclick="document.getElementById('id01').style.display='block'"> Sign up here please!</a>
        <div id="id01" class="modal">
  
                <form class="modal-content animate" >
                  <div class="imgcontainer">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                  </div>
              
                  <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input #userName type="text" placeholder="Enter Username" name="uname"  required>
              
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" #password required>

                    <label for="eml"><b>Email</b></label>
                    <input type="email" placeholder="Enter Email" name="eml" #email required>

                    <label for="cntct"><b>Contact</b></label>
                    <input type="text" placeholder="Enter Contact Number" name="cntct" #contact required>
                      
                    <button type="submit" (click)="submit(userName.value,password.value,email.value,contact.value)" >Sign Up</button>
                    
                  </div>
              
                  
                </form>
              </div>

        


